
header {
    background: paleturquoise;
}

header > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 60%;
    padding: 20px 60px 20px 60px;

    list-style-type: none;
    text-decoration: none;
}

header li {
    margin: 0 20px 0 20px;
}

.sections {
    display: flex;
}

footer {
    display: flex;
    background: darkslategray;
    color: white;
}

img {
    width: 10%;
}